<form>
    <p>HELLO</p>
    <footer class="flexrow">
        <button type="reset">
            <i class="fa-regular fa-undo"></i>
            Reset Rules
        </button>
        <button type="submit">
            <i class="fa-regular fa-save"></i>
            Save Rules
        </button>
    </footer>
</form>